
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Actor Database</title>
      <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    {{#if showTests}}
        <link rel="stylesheet" href="/vendor/mocha.css">
    {{/if}}
    <style media="screen">
    html {
      position: relative;
      min-height: 100%;
    }
    body {
      /* Margin bottom by footer height */
      margin-bottom: 30px;
    }
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 30px;
      line-height: 30px; /* Vertically center the text there */
      background-color: #f5f5f5;
    }
  h3{
    color:white;
  }
  .user_info_titles{
    color:grey;

  }
  .user_info_values{
    color:white;
  }
  .user_info_edit_links{
    cursor: pointer;
    font-size:1.7em;
    visibility: hidden;
  }
  .user_info_edit_links:hover{
    color:darkred;
  }
  .search_toggle_divs{
    display: none;
  }
  #search_container h6{
    cursor: pointer;
  }
  #search_container h6:hover{
    color:grey;
  }
  #edit_panel{
    padding: 10px;
    background-color: Lightgrey;
    color: black;
    z-index: 3;
  }
  #result_table_row{
  font-size: 0.8em;
  }
  #result_table_hearding{
    color:lightgrey;
  }
  .viewLinks:hover{
    color:lightblue;
  }
  .remove:hover{
    color:darkred;
  }
  tr:nth-child(odd) {background-color: rgba(100,100,100,0.4)}
  tr:nth-child(even) {background-color: rgba(10,10,10,0.4)}
  .info_input{
    visibility: hidden;
  }
    </style>
    <script type="text/javascript" src="utility.js"></script>
  </head>
  <body style='background-color:black; color:white;'>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
           <a class="navbar-brand" href="/"><span id="project_name"></span></a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarNav">
             <ul class="navbar-nav">
               {{# each menu}}
                 {{#if isCurent}}
                  <li class="nav-item disabled">
                 <a class="nav-link disabled" href="{{page}}">{{label}}</a>
                  </li>
                 {{else}}
                 <li class="nav-item ">
                  <a class="nav-link " href="{{page}}">{{label}} {{#if isCurent}} <span class="sr-only">(current)</span> {{/if}}</a>
                    </li>
                 {{/if}}
               {{/each}}
             </ul>
           </div>
           {{#if login}}
           <span class="nav-item " style="float:right;" >
             <table>
               <tr>
                 <td><img src="img/user.png" style='width:30px; height:30px; margin-right:3px; border-radius:100px; border:1px solid white;' alt=""> </td><td>{{user_name}}</td><td> <a class="nav-link " href="logout" style="color:grey;">Logout</a></td>
               </tr>
             </table>
          </span>
          {{/if}}
       </nav>
     {{{body}}}
    <footer class="footer">
     <div class="container">
       <span class="text-muted">Work in Progress</span>
     </div>
   </footer>
        {{#if showTests}}
              <div id="mocha"></div>
              <script src="/vendor/mocha.js"></script>
              <script src="/vendor/chai.js"></script>
              <script>
                 mocha.ui('tdd');
                 var assert = chai.assert;
             </script>
             <script src="/qa/test-global.js"></script>
             {{#if pageTestScript}}
                <script src="{{pageTestScript}}"></script>
             {{/if}}
             <script>mocha.run();</script>
      {{/if}}
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
	<script type="text/javascript">

	$(document).ready(function(){
                $.ajax({
                        url: "/get_app_info",
                        type: "POST",
                        success: function(data){
                        if (data.success) {
                           console.log(data.success);
                           var result = data.success;
                           $("#project_name").html(result[0].app_name);
			   $("#project_name2").html(result[0].app_name);
                        } else {
                            console.log("error");
                        }
                    },
                    error: function(){
                        console.log("There was a problem.");
                    }
                });
                return false;
            });

	</script>      

      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </body>
</html>
