{{#if login}}
<div id="main_content" data-id ='{{login}}' style="width:1000px; margin: 0 auto;">

   <!--<div class="" style="width:100%; height:30px; line-height:30px;">
     <div class="" style="float:right;"> Welcome {{user_name}}!

       <span style="margin-left:30px;"><a href="logout">Logout</a></span>
     </div>
   </div> -->
   {{#if is_admin }}
   <div id="user_view_div" style="width:100%; height:auto; margin:0 auto;  border-bottom:1px solid lightgrey; margin-bottom:30px; font-size:0.7em;">
     <div id="user_view_div_image" style="width:30%; height:200px;  overflow-y:scroll; overflow-x:hide;  margin-bottom:30px; font-size:0.7em;float:left; display:none;">

     </div>
     <div id="user_view_div_info" style="width:60%; height:200px;  overflow-y:scroll; overflow-x:hide;  margin-bottom:30px; font-size:0.7em;float:right; display:none;">

     </div>
   </div>
     {{else}}
     <div class="photoDiv" style="width:100%; height:230px; margin:0 auto; overflow-y:scroll; overflow-x:hide; border-bottom:1px solid grey; margin-bottom:30px;">
        <div class="imageDiv" id='images_area' style="width:1060px; height:200px; margin:0 auto; overflow-y:scroll;">
          <div id="addPhotoLink" style='width:200px; margin:0 auto; color:grey;'> Add Photo</div>
        </div>
     </div>
   {{/if}}

  <div class="" style="float:left">
    <h3>Basic Info</h3>
    <table class='user_info_table'>
      {{# each user_info}}
           <tr><td class="user_info_titles">{{label}}</td><td class="user_info_values"> {{value}}  </td><td><small class='user_info_edit_links' data-name='{{name}}' data-label='{{label}}' data-value='{{value}}' data-table='users'>&#x270E;</small></td></tr>
      {{/each}}
      <!--For the password -->
      <tr><td class="user_info_titles">Password:</td><td class="user_info_values">	&#x1f512;</td><td><small class='user_info_edit_links' data-name='password' data-table='users'>&#x270E;</small></td></tr>
    </table>

    </div>
    {{#if is_admin }}
        <div class="" style="float:right; background:linear-gradient(#000, #999 50%, #000); padding:10px; ">
          <center><h5 >Current Users</h5></center>
          <input class="form-control mr-sm-2" id='search_current_user'type="search" placeholder="Search" aria-label="Search">
          <div class="" id='current_user_panel' style="    min-height:200px;  max-height:300px; overflow:scroll;">
          <!--  {{# each all_users}}
                 <div class='available_users'  data-id ='{{id}}'style="width:400px; height:30px; cursor:pointer; font-size:0.8em;background-color:grey; color:white; margin-bottom:7px; border:2px solid lightblue; border-radius:10px;">
                   <img src="img/user.png" style="height:90%; width:30px;" alt="">
                   {{last_name}}  {{first_name}}
                   {{# if is_admin}}
                   <span>&#x1f511;</span>
                   {{/if}}
                 </div>
            {{/each}}
    -->
          </div>
        </div>
    {{else}}
         {{#if users_id}}
           <div id="actor_info" style=' clear:both; '>
            {{else}}
               <br>
               <span id='file_profile' onclick="displayIt();" style="clear:both;float:left; color:blue; font-size:0.8em; cursor:pointer;"><span style="font-size:1.2em; color:lightgrey">&#9432; </span>Please click here to create your actor profile</span>
               <div id="actor_info" style=' clear:both; display:none; '>
         {{/if}}
          <!--<div id="actor_info" style=' clear:both; '>-->
            <div id="" style="float:left; ">
              <table class='user_info_table'>
                <h3>Actor Info</h3>
                {{# each actor_info}}
                   <tr><td class="user_info_titles">{{label}}</td><td class="user_info_values"> {{value}}  </td><td><small class='user_info_edit_links' data-name='{{name}}' data-label='{{label}}' data-value='{{value}}' data-table='actors'>&#x270E;</small></td></tr>
                {{/each}}
              </table>
            </div>
            <div class="" style="float:right; ">
              <h3>Emergency Contact</h3>
              <table class='user_info_table'>
                <tr><td class="user_info_titles">Name:</td><td class="user_info_values">{{  emergency_name}}</td><td><small class='user_info_edit_links' data-name='emergency_contact_name'>&#x270E;</small></td></tr>
                <tr><td class="user_info_titles">Phone:</td><td class="user_info_values">{{emergency_number  }}</td><td><small class='user_info_edit_links' data-name='emergency_contact_number'>&#x270E;</small></td></tr>
              </table>
              <br>
              <h3>Cars Owned</h3>
              <table class='user_info_table' id='car_owned'>

              </table>
            </div>
            <br>
            <br>
            <div style="clear:both;">
              <h3>Actor Measurements</h3>
              <table class='user_info_table'>
                {{# each actors_measurement}}
                   <tr><td class="user_info_titles">{{label}}</td><td class="user_info_values"> {{value}}  </td><td><small class='user_info_edit_links' data-name='{{name}}' data-label='{{label}}' data-value='{{value}}' data-table='actors'>&#x270E;</small></td></tr>
                {{/each}}
              </table>
            </div>
          </div>
    {{/if}}


</div>
<script src="https://code.jquery.com/jquery-2.0.2.min.js"> </script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">

$("#search_current_user").click(function(){
  console.log($(this).val());
});
displayAllUsers();
 function displayAllUsers(){
  console.log("current users panel ",$("#current_user_panel").length);
  if($("#current_user_panel").length>0){
    //display all users
     $.ajax({
         url: "/get-all-users",
         type: 'POST',
         success: function(data){
             if(data.success){
               console.log("success: ",data.success);
              for( key in data.success){
                console.log(key, data.success[key]);
                var box =$("<div class='available_users'  data-id ='"+data.success[key].id+"'style='width:400px; height:30px; cursor:pointer; font-size:0.8em;background-color:grey; color:white; margin-bottom:7px; border:2px solid lightblue; border-radius:10px;'>"+data.success[key].last_name+" "+data.success[key].first_name+"  "+(data.success[key].is_admin?"<span>&#x1f511;</span>":"")+""+(data.admin_id===data.success[key].id?"<span style='color: black; font-weight:bold; margin-left:7px;'>Me</span>":"")+"</div>");
                var image = $("<img src='img/user.png' style='height:90%; width:30px;' alt=''>");
                 box.prepend(image);
                 $("#current_user_panel").append(box);
                //
                 box.click({dataset:data.success[key]},function(e){

                   console.log("clicked",e.data.dataset);
                   var data =e.data.dataset;
                   $("#user_view_div_info").empty();
                   $("#user_view_div_info").fadeIn();
                   $("#user_view_div_image").empty();
                   $("#user_view_div_image").fadeIn();
                   $("#user_view_div_image").append("<img src='img/user.png' style='width:90%; height:90%;' alt=''>");
                   var table = $("<table style='width:100%;'></table>");
                  for(key in data){
                    if(key!== "id" && key!== "is_admin"){
                      table.append("<tr><td style='color:grey;'>"+upperCaseFirstLetter(key)+":</td><td>"+data[key]+"</td></tr>");
                      $("#user_view_div_info").append(table);

                    }
                  }

                });
              }
             }
         },
         error: function(){
            console.log("error #update_form");
          }
    });
  }
 }

$(".available_users").click(function(){
  console.log(this.dataset.id, $("#main_content")[0].dataset.id);

});
function displayIt(){

  $("#actor_info").toggle("fast");
}

  $(".user_info_table small").click(function(){
     var name_ = this.dataset.name, value = this.dataset.value,label =this.dataset.label, table_name = this.dataset.table;
     console.log("name: ",name_,"label: ",label, "value: ",value);
     //create the frame
         if($("#edit_panel").length>0){
           $("#edit_panel").remove();
         }
         var box = $("<div id='edit_panel'style='border:1px solid lightgrey; width:auto; height:auto; position:absolute; top:0px; left:0px;'></div>");
         var form = $("<form id='update_form'action='/update-user-info' method='post'></form>");
         box.append(form);
         var button_divs =$("<div class='modal-footer'></div>");
         var row1 = $("<div class='form-group col-md-6'></div>");
         var button_cancel = $("<button type='button' class='btn btn-secondary' data-dismiss='modal'>Cancel</button>");
         row1.append(button_cancel);
         var row2 = $("<div class='form-group col-md-6'></div>");
         var button_save = $("<button type='submit' class='btn btn-primary'>Save changes</button>");
         row2.append(button_save);
         button_divs.append(row1,row2);
         if(name_ ==="password"){
           var input_div =$("<div class='form-group'><label for='inputPassword0' class='col-form-label'>Password</label><input type='text' class='form-control' id='inputPassword0' placeholder='Password' name='password[current_password]'></div><div class='form-group'><label for='inputPassword' class='col-form-label'>New Password</label><input type='text' class='form-control' id='inputPassword' placeholder='Password' name='password[new_password]'></div><div class='form-group'><label for='input_confirmPass' class='col-form-label'>Confirm Password</label><input type='text' class='form-control' id='input_confirmPass' placeholder='Confirm New password' name='password[confirm_password]'><input type='hidden' name='table_name' value="+table_name+"></div>");
         }else {
           var input_div =$("<div class='form-group col-md-12'><label class='mr-sm-2' for='inputEdit'>New "+label+"</label><br><input type='text' class='form-control' id='inputEdit' placeholder='"+value+"' name='"+name_+"'><input type='hidden' name='table_name' value="+table_name+"></div>");
         }
         var title =$("<div class='modal-header'><h5 class='modal-title'><center><h6>Editing</h6></center></h5>  </div>");
         var title_close =$("<button type='button' class='close' data-dismiss='modal' aria-label='Close' ><span aria-hidden='true'>&times;</span>  </button>");
         title.append(title_close);
        //  form.append("<center><h6>Editing</h6></center>",input_div,"<br>",button_divs);
        form.append(title,input_div,"<br>",button_divs);
         $("#main_content").append(box);
         var width = box.width(), height=box.height();
         console.log("scroll",$(document).scrollTop());
         var top= (window.innerHeight/2)+$(document).scrollTop()-(height/2) ;
         var left = (window.innerWidth/2)+$(document).scrollLeft() -(width/2);
         box.css({"top":top+"px" ,"left":left+"px"});
          button_cancel.click(function(){
            $("#edit_panel").remove();
          });
          title_close.click(function(){
            $("#edit_panel").remove();
          });

          button_save.click(function(e){
            //$("#edit_panel").remove();
          });
          //submit form

          $('#update_form').on('submit', function(evt){
                   evt.preventDefault();
                   $.ajax({
                       url: "/update-user-info",
                       type: 'POST',
                       data: $(this).serialize(),
                       success: function(data){
                           if(data.success){
                              console.log('response: ',data.success);
                             //location.assign("/user");
                           }else{
                             console.log(' There was a problem.');
                            }
                       },
                       error: function(){
                          console.log("error #update_form");
                        }
                  });
                 });
  });

  $(".user_info_table tr").hover(function(e){
    $($(this).find("small")).css({"visibility":"visible"});
    //$(this).css({"border-bottom":"1px solid grey"});
  },
  function(){
    $($(this).find("small")).css({"visibility":"hidden"});
    $(this).css({"border-bottom":"none"});
  }
);
function getCars(){
  $.ajax({
      url: "/get_user_cars",
      type: 'POST',
      success: function(data){
          if(data.success){
             console.log('response: ',data.success);
             for(var i =0; i< data.success.length; i++){
               var tr =$("<tr></tr>");
               var td1 = $("<td>"+data.success[i].make+",</td>");
               var td2 = $("<td>"+data.success[i].color+",</td>");
               var td3 = $("<td>"+data.success[i].year+"</td>");
               tr.append((i+1)+"- ",td1,td2,td3);
               $("#car_owned").append(tr);
             }
          }else{
            console.log(' There was a problem.');
           }
      },
      error: function(){
         //$ container.html(' There was a problem.');
         console.log("error get_user_cars");
       }
 });
}
function getImages(){
  $.ajax({
      url: "/get_user_images",
      type: 'POST',
      success: function(data){
          if(data.success){
             console.log('Images response: ',data.success);

          }else{
            console.log(' There was a problem.');
           }
      },
      error: function(){
         //$ container.html(' There was a problem.');
         console.log("error get_user_images");
       }
 });
}
getImages();
getCars();
function upperCaseIt(word){
  return word[0].toUpperCase()+word.substring(1,word.length);
}
function upperCaseFirstLetter(word0){
  var word = word0.split("_");
  var new_Word=false;
  for(var i =0; i<word.length; i++){
    if(!new_Word){
      new_Word = upperCaseIt(word[i]);
    }else {
        new_Word+=" "+upperCaseIt(word[i]);
    }
  }
  return new_Word;
}
</script>

   {{else}}
 <h1>sorry, you are not allowed to view this page now, please log in </h1>
{{/if}}
